audiomentations==0.13.0
audioread==2.1.8
fastai==1.0.57
fastai2==0.0.30
fastprogress==0.2.4
nlpaug==1.0.1
nltk==3.4.5
numpy==1.18.5
scikit-learn==0.23.1
scipy==1.10.0
torch==1.6.0
torchaudio==0.6.0
torchvision==0.7.0
